body.body--dark {
  background: $ws-char-coal;

  .q-field__inner, .user-cards {
    background: $ws-medium-jungle-gray;
  }

  .q-field__control, .q-toggle__inner--truthy {
    color: $ws-emerald
  }

  .q-toggle, .user-cards, h5 {
    color: $ws-light,
  }

  .phone-field {
    span {
      color: $ws-light,
    }
    select option {
      color: $ws-light;
      background: $ws-medium-jungle-gray;
      &:hover {
        background: $ws-medium-jungle-gray;
      }
    }
  }

  .coupon {
    .q-field__append {
      background: $ws-emerald;
    }
  }

  .q-btn {
    background: $ws-emerald;
  }
}