#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $ws-medium-jungle-gray;
}

form {
  padding: 20px 10px;

  .q-input, .q-textarea {
    margin-top: 10px;
  }

  .q-field__control {
    height: 54px;
  }

  .phone-field {
    span, select {
      font-size: 14px;
    }

    select {
      position: absolute;
      opacity: 0;
      z-index: 10;
      height: 100%;
      padding-left: 10px;
      margin-left: -10px;
      cursor: pointer;
    }

    span {
      color: $ws-black;
      min-width: 60px;
      text-align: right
    }

    .optional-tag {
      color: $ws-light
    }
  }

  .coupon {
    .q-field__append {
      padding: 0;
      margin-right: -11px;
      color: $ws-white;
      background: $ws-primary;
      cursor: pointer;

      .addCoupon {
        height: 40px;
        width: 40px;
        z-index: 10;
        text-align: center;
      }
    }
  }

  .coupon--valid {
    .q-field__control, .hint {
      color: $ws-emerald
    }
  }

  .coupon--invalid {
    .q-field__control, .hint {
      color: $ws-accent;
    }
  }

  .q-btn {
    background: $ws-primary;
    color: $ws-white;
  }
}

h5 {
  margin-bottom: 0;
}

.user-cards {
  text-align: left;

  .emails {
    display: inline-flex;

    ul {
      display: inline-block;
      margin: 0;
      list-style: none;
      padding: 0 0 0 10px;
    }
  }
}
