// It's highly recommended to change the default colors
// to match your app's branding.
@import "_variables.scss";
$primary   : $ws-primary;
$secondary : $ws-secondary;
$accent    : $ws-accent;

$dark      : $ws-medium-jungle-gray;

$positive  : $ws-green;
$negative  : $ws-coral-red;
$info      : $ws-blue;
$warning   : $ws-mikado-yellow;


@import '~quasar-variables-styl'
